.cityDetail{
    display: flex;
    flex-direction: column;
    border: solid rgb(213, 213, 213) 1px;
    border-radius: 10px;
    height: 100%;
    width: 500px;
    padding: 25px;
    align-self: center;
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: auto;
    margin-top: 50px;
    margin-bottom: 133.5px;

}
.head{
    display: flex;
    align-items: center;
    gap: 10px;
}
.country{
    border-radius: 5px;
    background-color: rgb(213, 213, 213);
    color: white;
    padding: 5px;
}
.body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pic{
    width: 200px;
}