@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.bar{
    background-color: 	#232f3e;
    display: flex;
    height: 75px;
    width: 100%;
}
.left{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}
.right{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;

}

.title{
    font-family: 'Pacifico', cursive;
    color: aliceblue;
    padding: 10px;
}
.cloud{
   width: 58px;
   margin-right: 7px;
}
.links{
  padding: 10px;
  color: aliceblue;
 
}
.links:hover{
    cursor: pointer;
    color: #266dd3;
}