@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;

}

html{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px; 
    text-decoration: none;
}

a{
    text-decoration: none;
}

button:hover{
    cursor: pointer;
}
