@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
   
}
body{
    margin: 0px;
    padding: 0px; 
    text-decoration: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

button:hover{
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}